{% extends "base.html" %}

{% block content %}

    {% if is_correct %}
        <h2>Correct</h2>
    {% else %}
        <h2>Incorrect</h2>
    {% endif %}


    <p> The answer is 
        <b>{{our_song}}</b>
    </p>
    <a href = "/question?chart_name={{genre_correct}}">Try again?</a>
    <br>
    <a href = "/">Change genre</a>
    <br>
    <form action="/clear" method="GET">
        <input type="submit" value = "Clear Score" name="Clear Score">
    </form>
    <br>
    <form action="/askname" method="GET">
        <input type="submit" value="End Game" name="End Game">
    </form>

{% endblock %} 