{% extends "index.html" %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <h1>Question Page</h1>
            <h2>Which song is playing?</h2>
            <form action="/answer" method = "GET">
                <audio controls>
                    <source src = '{{ preview }}'>
                </audio>
                <br>
                {% for question in questions %}
                <input type="radio" name="choice" value = '{{question}}'>{{question}}
                <br>
                {% endfor %}
                <input type="hidden" value = "correct_song" name = "correct_song">
                <input type="submit" value="Submit">
            </form>
        </body>
    </html>

{% endblock %}
