{% extends "index.html" %}

{% block content %}

    <audio controls>
        <source src = '{{ songurl_correct }}' type = "audio/mpeg">
    </audio>

    <form action = "/answer" method = "GET">
    
            {% for song in song_answers %}
                <input type = "radio" name = "choice" value = "{{song}}"> {{song}} <br>
            {% endfor %}

                <input type="hidden" name="correct_choice" value = "{{correct_song}}">
                <input type="hidden" name = "correct_genre" value="{{charttitle}}">
                <input type = "submit">
        
    
    </form>
    <form action="/clear" method="GET">
        <input type="submit" value = "Clear Score" name="Clear Score">
    </form>
{% endblock %}